.section-centered {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}

.best {
	background: url('../img/bg/best.png') center center no-repeat;
	background-size: cover;
}

.best__list {
	display: flex;
	justify-content: space-between;
	margin-top: 4rem
}

.best__item {
	margin-right: 1.25rem;
	width: 30%;

	&:last-child {
		margin-right: 0;
	}
}

.best__icon {
	display: flex;
	justify-content: center;
}

.best__content {
	text-align: center;
}

.best__title {
	font-family: 'lifehackmedium';
	font-size: 1.35rem;
	color: $dark;
	font-weight: 900;
	padding: 1.8rem 0;
}

.best__text {
	font-family: 'ubuntulight';
	font-size: 0.875rem;
	color: $dark;
	line-height: 1.25rem;
}
