.best {
	background: url('../img/bg/best.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;

}

.best__list {
	display: flex;
	justify-content: space-between;
	text-align: center;

	@include phones {
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}
}

.best__item {
	display: flex;
  	flex-direction: column;
	width: 30%;

	@include phones {
		flex-direction: row;
		width: 100%;
 	}
}

.best__icon {
	display: block;
	height: 6.25rem;
	text-align: center;
	margin-bottom: 1.5625rem;

	@include phones {
    	width: 20%;
    	margin-right: 3.125rem;
    	margin-bottom: 0;
    }
}

.best__icon-pic {
	width: 90%;
	height: 5.5rem;

  	@include phones {
    	margin-left: 1.25rem;
	} 
}

.best__icon-pic svg {
    max-width: 95%;
}

.best__title {
	font-family: 'lifehackmedium';
	font-size: 1.5rem;
	color: $dark;
	font-weight: 300;
	margin: 1.25rem 0; 
}

.best__text {
	p {
		font-family: 'ubuntulight';
		font-size: 0.875rem;
		color: $dark;
		line-height: 1.8;
	}
}
