.team {
  background: url('../img/bg/team.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
}

.team__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-color: $dark;
  color: #fff;
  opacity: 0.9;
  padding: 5% 1% 0 6%;

  @include tablets {
    left: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

.team-acco {
  margin-top: 14%;
  display: flex;
  flex-direction: column;

  @include tablets {
      justify-content: center;
      align-items: center;
    }
}

.team-acco__trigger {
  display: flex;
  text-transform: uppercase;
  font-family: 'gagalinregular';
  color: #fff;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  margin-bottom: 0.625rem;

  &:hover {
    color: $yellow;
  }

  &:before {
    content: "";
    height: 0.3125rem;
    border: 0.3125rem solid transparent;
    border-top-color: $yellow;
    border-bottom-width: 0;
    margin-right: 0.4rem;
  }

  @include tablets {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  @include phones {
    font-size: 1.5rem;
  }
}

.team-acco__content {
  height: 0;
  overflow: hidden;
  transition: .5s;

  @include tablets {
    align-items: center;
  }
}

.team-acco__content-block {
  display: flex;
  padding: 0.625rem;
}

.acco__content-title {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.acco__content-descr {
  font-size: 1rem;
  font-family: 'ubuntulight';
}

.team-acco__item {
  margin-bottom: 0.625rem;
}

.team-acco__pic {
  border-radius: 50%;
  flex-shrink: 0;
  width: 8.75rem;
  margin-bottom: 1.5625rem;
}

.team-acco__img {
  margin: 0 1.5rem;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include phones {
    width: 6.875rem;
    height: 6.875rem;
  }
}

.team-acco__text {
  width: 12.5rem;

  @include tablets {
    width: 22.5rem;
  }

  @include phones {
    width: 18.75rem;
  }
}

//Доделать разворот!!!!
.team-acco__item.active .team-acco__trigger{
  color: $yellow;
}

.team-acco__item.active .team-acco__trigger:before {
  transform: rotate(180deg);
  transition: .5s;
}