.wedo {
	background: url('../img/bg/wedo.png') center center no-repeat;
	background-size: cover;
	display: flex;
}

.header {
	display: flex;
	align-items: center;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 10px;
}

.wedo__container {
	display: flex;
  	flex-direction: column;
	justify-content: space-between;
}

.logo {
  margin-right: auto;
}

.nav {
	margin-right: 16px;
}

.nav__list {
	display: flex;
}

.nav__item {
	display: flex;
	align-items: center;

	&:after {
		content: "";
		display: block;
		width: 4px;
  		height: 4px;
  		border-radius: 50%;
  		background-color: #fff;
  		margin: 0 16px;
	}

	&:last-child:after {
			display: none;
		}
}

.nav__link {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;

	&:hover {
		text-decoration: underline;
	}

}

.wedo__content {
	flex: .8;
  	display: flex;
  	align-items: center;
}

.wedo__img {
	width: 50%;
}

.wedo__text {
	width:50%;
	padding-top: 40px;
}

.wedo__descr {
	color: #fff;
	font-family: 'lifehackmedium';
	font-size: 64px;
	line-height: 1;
}

.arrow {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}


