.best {
	background: url('../img/bg/best.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;

	.section__title {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

.best__list {
	display: flex;
	justify-content: space-between;
	text-align: center;

	@include phones {
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}
}

.best__item {
	display: flex;
  	flex-direction: column;
	width: 30%;

	@include phones {
		flex-direction: row;
		width: 100%;
 	}
}

.best__icon {
	display: flex;
	justify-content: center;
	margin: 0 0.625rem;
}

.best__title {
	font-family: 'lifehackmedium';
	font-size: 1.5rem;
	color: $dark;
	font-weight: 300;
	margin: 1.25rem 0; 
}

.best__text {
	p {
		font-family: 'ubuntulight';
		font-size: 0.875rem;
		color: $dark;
		line-height: 1.8;
	}
}
